.main_section {
    text-align: center;
}
.one {
    font-size: 4.68rem;
}
.txt2 {
    font-size: 1.56rem;
}
.mainref {
    font-size: 1.25rem;
    border-bottom: 1px solid rgb(204, 200, 200);
}
.about {
    font-size: 1.25rem;
    border-bottom: 1px solid rgb(204, 200, 200);
}
.news {
    font-size: 1.25rem;
    border-bottom: 1px solid rgb(204, 200, 200);
} 
.listmenu {
    list-style: none;
}
.divlist {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

